extends includes/layout

block title
	if user.first_name && user.last_name
		title Fractals Generator | #{user.first_name} #{user.last_name}
	else
		title Fractals Generator | #{user.username}

block head
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="/static/css/profile.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")

block body
	div(class="page-title create-task-btn")
		a(class="btn btn-success page-title", href="/user/create/fractal") Create Task
	div(class="container")
		br
		ul(class="nav nav-tabs", role="tablist")
			li(class="nav-item")
				a(class="nav-link", id="profile-tab", data-toggle="tab", href="#profile") Profile
			li(class="nav-item")
				a(class="nav-link", id="tasks-tab", data-toggle="tab", href="#tasks") Tasks
		div(class="tab-content")
			div(id="profile", class="container tab-pane")
				br
				form(method="post")
					div(class="form-group row")
						label(for="username", class="col-sm-12") Username:
							input(value=user.username, type="text", name="username", class="form-control", id="username", placeholder="Type text...", required)
					div(class="form-group row")
						label(for="email", class="col-sm-12") Email:
							input(value=user.email, type="email", name="email", class="form-control", id="email", placeholder="username@example.com", required)
					button(type="submit", id="save-profile", class="btn btn-success") Save
			div(id="tasks", class="container tab-pane")
				br
				table(class="table")
					thead(class="thead-dark")
						tr
							th Title
							th Picture Size (px)
							th Status
							th Progress
							th Result
							th
					tbody(id="tasks-tbody")
				button(class="btn btn-secondary", id="show-more-tasks-tab") Load more

block footer
	script(type="module", src="/static/js/profile/profile.js")
	script(type="module", src="/static/js/profile/tasks.js")
